<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Serbian Transliterator!
  </h1>
</div>

<h2>Auto recognized</h2>
<ul>
  <li>cyrilic transliteration: <strong>{{ 'automatski' | transliterator }}</strong></li>
  <li>latinic transliteration: <strong>{{ 'аутоматски' | transliterator }}</strong></li>
</ul>

<h2>Set it manually</h2>
<ul>
  <li>cyrilic transliteration: <strong>{{ 'ručno' | transliterator: cir }}</strong></li>
  <li>latinic transliteration: <strong>{{ 'ручно' | transliterator: lat }}</strong></li>
</ul>

<h2>About</h2>
<p>The library is originaly developed by Milorad Ničić and it is used for Pravac - <a href="https://pravac.com">https://pravac.com</a></p>